<mat-toolbar class="toolbar mat-elevation-z4">
  <div class="navigationContainer">
    <!-- <button mat-button style="color: #EA4334">Nosotros</button> -->
    <button mat-button style="color: #EA4334">Encuentros</button>
    <button mat-button style="color: #0D9D58">Comunidad</button>
    <img class="imgLogo" src="./assets/images/GDGLogo.png">
    <!-- <button mat-button style="color: #0D9D58">Galería</button> -->
    <button mat-button style="color: #4285F4">Materiales</button>
    <button mat-button style="color: #FCBC05">Sponsors</button>
  </div>
</mat-toolbar>