<div class="container">
    <app-carrousel-home></app-carrousel-home>
    <div class="rowQuickAcces">
        <app-home-next-event class="nextEvent"></app-home-next-event>
        <app-home-comunities class="comunities"></app-home-comunities>
        <app-home-sponsors class="sponsors"></app-home-sponsors>
    </div>

    <div class="sectionContainer">
        <img style="width: 60%" src="./assets/images/img_encuentros.svg">
        <div class="sectionText">
            <h2 class="mat-title" style="color: #EA4334">Encuentros </h2>
            <h2 class="mat-body-1">Eventos mensuales de 2 a 4 hs de duración, que se enfocan en un tema o tecnología
                específica, con speakers invitados que se desempeñan en cada una de ellas y nos cuentan sus
                experiencias y nos enseñan. </h2>
            <button mat-stroked-button style="color: #EA4334">Ver Más ></button>
        </div>
    </div>
    <div class="sectionContainer">
        <div class="sectionText">
            <h2 class="mat-title" style="color: #0D9D58">Comunidad </h2>
            <h2 class="mat-body-1">Grupos de Chat por telegram, aquí compartimos dudas y consulta para ayudarnos entre
                nosotros, también ofertas laborales, eventos de interés en la zona y mucho más. </h2>
            <button mat-stroked-button style="color: #0D9D58">Ver Más ></button>
        </div>
        <img style="width: 60%" src="./assets/images/img_comunity.svg">
    </div>
    <div class="sectionContainer">
        <img style="width: 60%" src="./assets/images/img_materials.svg">
        <div class="sectionText">
            <h2 class="mat-title" style="color: #4285F4">Materiales </h2>
            <h2 class="mat-body-1">Tutoriales y/o introducciones a diferentes tecnologías realizados por nuestros
                miembros de la comunidad y los speakers que se presentan en nuestros eventos.
            </h2>
            <button mat-stroked-button style="color: #4285F4">Ver Más ></button>
        </div>
    </div>
    <div class="sectionContainer">
        <div class="sectionText">
            <h2 class="mat-title" style="color: #FCBC05">Sponsors </h2>
            <h2 class="mat-body-1">Los sponsors nos ayudan a poder hacer crecer esta comunidad, gracias a ellos tenemos
                lugares donde realizar los eventos, podemos dar refrigerios en los mismos y traer speakers de otros
                lugares.
            </h2>
            <button mat-stroked-button style="color: #FCBC05">Ver Más ></button>
        </div>
        <img style="width: 60%" src="./assets/images/img_sponsors.svg">
    </div>
</div>