<!-- TODO: Cambiar Datos desde DB Firebase -->
<div class="container">
  <h2 class="mat-title" style="color: #EA4334">Próximo Encuentro </h2>
  <h2 class="mat-subheading-2" style="margin-bottom: 0px;">GDG Training </h2>
  <div class="simpleRow">
    <mat-icon style="color: #EA4334">today</mat-icon>
    <h2 class="mat-body-1" style="margin-left: 16px;">10 Abril 2019 </h2>
  </div>
  <div class="simpleRow" style="justify-content: space-between; height: 2rem;">
    <div class="simpleRow">
      <mat-icon style="color: #EA4334">access_time</mat-icon>
      <h2 class="mat-body-1" style="margin-left: 16px;"> 09:30 </h2>
    </div>
    <div class="simpleRow">
      <mat-icon style="color: #EA4334">place</mat-icon>
      <h2 class="mat-body-1" style="margin-left: 16px;">Biblioteca Central </h2>
    </div>
  </div>

  <mat-card class="cardNextEvent">
    <img class="imgEvent" src="./assets/images/imgEventExample.png">
  </mat-card>
</div>